<li>
  <span><%= user.name %></span>
      | <%= link_to "update", edit_user_path(user) %>
      | <%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" } %>
</li>