<% provide(:title, 'All Schedules') %>
<h1>All Room Closures</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @roomactivities %>
</ul>

<div class="create-new-button">
<%= link_to new_roomactivity_path do %>
    <button class="btn btn-primary">
      <span>New Room Closure</span>
    </button>
<% end %>
</div>
